#window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}

#topbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background-color: #404E4D;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
    z-index: 999;
}

#profile {
    height: 100%;
    line-height: 16px;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    width: 40%;
}

#profile .dropdown-toggle {
    padding: 8px;
    cursor: pointer;
    margin-right: 1px;
    height: 100%;
    display: flex;
    align-items: center;
}

#profile .icon {
    height: 16px;
    fill: #fff;
}

.dropdown-toggle {
    position: relative;
}

.dropdown-menu {
    z-index: 2;
    background-color: #f7f7f7;
    border-radius: 0;
}

.dropdown-menu-right {
    position: absolute;
    right: 0;
}

#profile .dropdown-menu .dropdown-item:hover, #profile .dropdown-menu .dropdown-item:active {
    background-color: #708886;
    color: #fff;
}

#menu {
    height: 100%;
    line-height: 16px;
    font-size: 16px;
    display: flex;
    align-content: center;
    align-items: center;
    cursor: pointer;
    width: 40%;
}

#menu .li {
    padding: 8px;
    cursor: pointer;
    margin-right: 1px;
    height: 100%;
    display: flex;
    align-items: center;
}

#menu .li:hover, #profile .dropdown-toggle:hover {
    background-color: #708886;
}

#datetime {
    height: 100%;
    line-height: 16px;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

#body {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    z-index: 1;
}

#bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #404E4D;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    z-index: 999;
}

#bottombar .program-launcher {
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 5px;
    margin: 5px;
    background-color: #9EBC9F;
}

#bottombar .program-launcher:hover {
    background-color: #F5BB00;
}

#bottombar .program-launcher.open {
    border-bottom: 2px solid #F5BB00;
}

#bottombar .program-launcher img {
    width: 30px;
    height: 30px;
}

.program-modal {
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 1050;
    display: none;
    width: 50%;
    height: 50%;
    overflow: hidden;
    outline: 0;
    background-color: #f7f7f7;
    border: 1px solid #000;
    min-width: 400px;
    min-height: 400px;
}

.program-modal.fullscreen {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.program-modal.ontop {
    z-index: 1051;
}

.program-modal.ontop .program-header {
    z-index: 1051;
    background-color: #708886;
    color: #fff;
}

.program-modal .program-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.program-modal .program-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 8px;
    background-color: #ccc;
}

.program-modal .program-header .program-title {
    padding-left: 8px;
}

.program-modal .program-content {
    flex: auto;
    padding: 28px;
    height: 100%;
}

/**
Terminal
*/
.terminal-program .program-content {
    background-color: #222;
    color: #eee;
    padding-left: 5px;
}

.terminal-content {
    letter-spacing: 1px;
}

.terminal-input {
    letter-spacing: 1px;
    display: flex;
}

.terminal-input input {
    background-color: transparent;
    border: 0;
    letter-spacing: 1px;
    width: 100%;
    color: #fff;
}

.terminal-input .input {
    flex: auto;
}

.terminal-input input:focus {
    outline: none;
}

.draggable {
    touch-action: none;
    user-select: none;
}